body{
    background-color: rgba(206, 106, 106, 0.925);
    position: relative;
}

header{
    background-color: black;
    height: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

ul{
    color:gray;
    list-style-type: none;
}

li:hover{
    background-color: black;
    color:white;
}

.my-custom-btn{
    color:#ff5f6d
}

main{
    display: flex;
    align-items: center;
}

.col{
    color:white;   
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.col img{
    width:95%;
}


.footer{
    /* height:50px; */
    background-color: black;
    padding: 30px 0px;
    margin-bottom:-12px;
    margin-top: 6px;
}

@media screen and (max-width:500px) {
    *{
        flex-direction: column;
    }
    header{
        height:50px
    }
    nav{
        align-items: center;
        background-color: transparent;
    }
    nav h1{
        background-image: linear-gradient(to right, #ff5f6d, #ffc371);
        background-clip: text;
        color: transparent; 
        margin-bottom: 0;
    }
    nav .h1{
        width:100%;
        background-color: white;
        text-align: center;
        margin-bottom: 1px;
    }
    ul{
        flex-direction: column;
        width:100%;
       gap: 1px;
       text-align: center;
       font-size: 14px;
    }
    li{
        background-color: white;
    }
    .my-custom-btn{
        width: 100%;
    }
    .row{
        flex-direction: row;
    }
    .footer{
        padding:15px 0;
        margin-top: 8px;
    }

}
